body{
	
}
#menu{
    padding-top:20px;
	position:relative;
	float:left;
	font-size:15px;
	background-color:grey;
}
#Logo{
	background-color:black;
	color:white;
	font-size:20px
}
#imgs{
	 position:absolute;
	 padding-left:500px;
	 padding-top:0px;
	 width:20%;
}
#register{
    padding-left:250px;
}
#reg{
	background-color:grey;
}
#table{
	margin:5px;
	padding-top:10px;
	background-color:yellow;
	padding-left:20px;
	overflow-x: hidden;
}
#Exam_entry{
	
}
