body{
	margin:0px;
	font-family: cursive;
}
.container-all{
	width:100%;
}

.head{
	height:35px;
	width:100%;
	background: #200122;
	background: -webkit-linear-gradient(to right, #6f0000, #200122); 
	background: linear-gradient(to right, #6f0000, #200122); 
}
/*head not in use	
.headtext{
	font-size:28px;
	font-weight:500;
	margin:20px;
}

.opener{
	display:grid;
	grid-template-columns:25% 25%;
	float:left;
	margin-left:20px;
}
.logo{
	margin-top:10px;
	margin-left:30px;
	width:60px;
	height:60px;
	border-radius:50px;
}
.userdetails{
	float:right;
	
}
.user{
	width:50px;
	height:50px;
	border-radius:50px;
}
/*head not in use*/


	/*menu bar*/
.container {
	padding-top:20px;
	background: #200122;  /* fallback for old browsers */	
	background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bar1, .bar2, .bar3 {
	width: 30px;
	height: 5px;
	background-color: black;
	margin: 6px 0;
  	transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: black;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: black;
}
	/*end of menu bar */

.maindisplay{
	display:flex;
	
}
menu{
	height:100%;
	bacheight: 100%;
	overflow-x: hidden;
	transition: 0.5s;
	background: #200122; 
	background: -webkit-linear-gradient(to right, #6f0000, #200122); 
	background: linear-gradient(to right, #6f0000, #200122);
}
.menus{
	background-color:black;
}
.menu a{
	width:180px;
	background: #200122;
	background: -webkit-linear-gradient(to right, #6f0000, #200122);
	background: linear-gradient(to right, #6f0000, #200122);
	height:60px;
	display:block;
	padding-top:10px;
	font-size:20px;
	text-decoration:none;
	color:white;
}
.menu a:hover{
	color:green;
	width:190px;
	transition: 0.5s;
	text-align:center;
}
menu2{
	height:100%;
	bacheight: 100%;
	overflow-x: hidden;
	transition: 0.5s;
	background: #200122; 
	background: -webkit-linear-gradient(to right, #6f0000, #200122); 
	background: linear-gradient(to right, #6f0000, #200122);
}
.title{
	position:relative;
}			
.dropdown{
	background: #200122;
	position:relative;
	padding-left:10px;
}
.list {
	display: none;
}
.drop:hover .list{
	display: block;
	text-align:center;
	font-size:20px;
	border-bottom:2px solid transparent;
}
.list:hover a{
	color:green;
}
.menu2 a{
	width:80px;
	background: #200122;
	background: -webkit-linear-gradient(to right, #6f0000, #200122);
	background: linear-gradient(to right, #6f0000, #200122);
	height:60px;
	display:block;
	padding-top:10px;
	font-size:20px;
	text-decoration:none;
	color:white;
}
.display{
	width:100%;
	padding-top:10px;
	padding-left:30px;
}
.student_details{
	border-bottom:2px solid black;
}
.table{
	border-right:1px solid grey;
	border-bottom:1px solid grey;
	margin-left:40px;
	margin-top:20px;
	width:95%;

}
.labels{
	width:150px;
	height:60px;
	font-size:20px;
}
.inputs{
	width:200px;
	height:60px;
}
.submit{
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-left:500px;
}
.stdlist{
	border-top:5px solid dodgerblue;
	width:98%;
}

@media (max-width: 700px){
	.container-all{
		display: grid;
		grid-template-areas:
		'menu menu'
		'display display';
		background-color:blue;
	}
	.menu2 a{
		grid-area: menu;
	}
	.display{
		grid-area :display;
	}
}